<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>library</string>
		<key>translate</key>
		<string>библиотека</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>billboard</string>
		<key>translate</key>
		<string>рекламный щит</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>street</string>
		<key>translate</key>
		<string>улица</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>intersection</string>
		<key>translate</key>
		<string>перекресток</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>square</string>
		<key>translate</key>
		<string>площадь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>store</string>
		<key>translate</key>
		<string>магазин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>outskirts</string>
		<key>translate</key>
		<string>окраина</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>quay</string>
		<key>translate</key>
		<string>набережная</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>market</string>
		<key>translate</key>
		<string>рынок</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>parking</string>
		<key>translate</key>
		<string>парковка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sign</string>
		<key>translate</key>
		<string>знак</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>theater</string>
		<key>translate</key>
		<string>театр</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bus station</string>
		<key>translate</key>
		<string>автовокзал</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bank</string>
		<key>translate</key>
		<string>банк</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>trash bin</string>
		<key>translate</key>
		<string>мусорка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>streetlight</string>
		<key>translate</key>
		<string>уличный фонарь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>church</string>
		<key>translate</key>
		<string>церковь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>post office</string>
		<key>translate</key>
		<string>почтовое отделение</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gas station</string>
		<key>translate</key>
		<string>запрвка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stadium</string>
		<key>translate</key>
		<string>стадион</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>office building</string>
		<key>translate</key>
		<string>администрация</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>train station</string>
		<key>translate</key>
		<string>вокзал</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>police</string>
		<key>translate</key>
		<string>полицейский участок</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>park</string>
		<key>translate</key>
		<string>парк</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>clinic</string>
		<key>translate</key>
		<string>клиника</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>garage</string>
		<key>translate</key>
		<string>гараж</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sidewalk</string>
		<key>translate</key>
		<string>тротуар</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>supermarket</string>
		<key>translate</key>
		<string>супермаркет</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pub</string>
		<key>translate</key>
		<string>паб</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>inn</string>
		<key>translate</key>
		<string>гостиница</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>museum</string>
		<key>translate</key>
		<string>музей</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>playground</string>
		<key>translate</key>
		<string>десткая площадка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cafe</string>
		<key>translate</key>
		<string>кафе</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>circus</string>
		<key>translate</key>
		<string>цирк</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>courthouse</string>
		<key>translate</key>
		<string>суд</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>zoo</string>
		<key>translate</key>
		<string>зоопарк</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>avenue</string>
		<key>translate</key>
		<string>проспект</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>downtown</string>
		<key>translate</key>
		<string>деловой квартал</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cinema</string>
		<key>translate</key>
		<string>кинотеатр</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gym</string>
		<key>translate</key>
		<string>тренажерный зал</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>kiosk</string>
		<key>translate</key>
		<string>киоск</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>factory</string>
		<key>translate</key>
		<string>фабрика</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>skyscraper</string>
		<key>translate</key>
		<string>небоскреб</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>roadway</string>
		<key>translate</key>
		<string>дорога</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hospital</string>
		<key>translate</key>
		<string>больница</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>window</string>
		<key>translate</key>
		<string>витрина</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gate</string>
		<key>translate</key>
		<string>ворота</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>entrance</string>
		<key>translate</key>
		<string>вход</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gallery</string>
		<key>translate</key>
		<string>галерея</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>impressive</string>
		<key>translate</key>
		<string>впечатляющий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>building</string>
		<key>translate</key>
		<string>здание</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>toyshop</string>
		<key>translate</key>
		<string>игрушечный магазин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lift</string>
		<key>translate</key>
		<string>лифт</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>coin</string>
		<key>translate</key>
		<string>монета</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bridge</string>
		<key>translate</key>
		<string>мост</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
</array>
</plist>
