<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>store</string>
		<key>translate</key>
		<string>магазин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shopping</string>
		<key>translate</key>
		<string>поход по магазинам</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>price</string>
		<key>translate</key>
		<string>цена</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>buy</string>
		<key>translate</key>
		<string>покупать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>small</string>
		<key>translate</key>
		<string>маленький</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shop</string>
		<key>translate</key>
		<string>магазин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>toy</string>
		<key>translate</key>
		<string>игрушка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bookshop</string>
		<key>translate</key>
		<string>книжный магазин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>credit card</string>
		<key>translate</key>
		<string>кредитная карта</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>large</string>
		<key>translate</key>
		<string>большой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cheap</string>
		<key>translate</key>
		<string>дешевый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>manager</string>
		<key>translate</key>
		<string>продавец</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sell</string>
		<key>translate</key>
		<string>продавать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>size</string>
		<key>translate</key>
		<string>размер</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pay</string>
		<key>translate</key>
		<string>платить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cost</string>
		<key>translate</key>
		<string>стоить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>expensive</string>
		<key>translate</key>
		<string>дорогой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>list</string>
		<key>translate</key>
		<string>список</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>wallet</string>
		<key>translate</key>
		<string>бумажник</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sale</string>
		<key>translate</key>
		<string>распродажа</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>market</string>
		<key>translate</key>
		<string>рынок</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>money</string>
		<key>translate</key>
		<string>деньги</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>spend on</string>
		<key>translate</key>
		<string>тратить на</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>seller</string>
		<key>translate</key>
		<string>продавец</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>customer</string>
		<key>translate</key>
		<string>покупатель</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shelf</string>
		<key>translate</key>
		<string>полка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>try on</string>
		<key>translate</key>
		<string>примерять</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fit</string>
		<key>translate</key>
		<string>подходить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>free</string>
		<key>translate</key>
		<string>бесплатный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bakery</string>
		<key>translate</key>
		<string>булочная</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>purse</string>
		<key>translate</key>
		<string>кошелек</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>basket</string>
		<key>translate</key>
		<string>корзина</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>coin</string>
		<key>translate</key>
		<string>монета</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>discount</string>
		<key>translate</key>
		<string>скидка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>clothing</string>
		<key>translate</key>
		<string>одежда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cash</string>
		<key>translate</key>
		<string>наличные деньги</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>goods</string>
		<key>translate</key>
		<string>товары</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>handmade</string>
		<key>translate</key>
		<string>ручная работа</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>note</string>
		<key>translate</key>
		<string>банкнота</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mall</string>
		<key>translate</key>
		<string>торговый центр</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>change</string>
		<key>translate</key>
		<string>сдача</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gift</string>
		<key>translate</key>
		<string>подарок</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>line</string>
		<key>translate</key>
		<string>очередь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>delivery</string>
		<key>translate</key>
		<string>доставка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>retail</string>
		<key>translate</key>
		<string>розничная торговля</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>warranty</string>
		<key>translate</key>
		<string>гарантия</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>purchase</string>
		<key>translate</key>
		<string>покупать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>guarantee</string>
		<key>translate</key>
		<string>гарантировать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>exchange</string>
		<key>translate</key>
		<string>замена</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>value</string>
		<key>translate</key>
		<string>стоимость</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>leather</string>
		<key>translate</key>
		<string>кожа</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>till</string>
		<key>translate</key>
		<string>касса</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>refund</string>
		<key>translate</key>
		<string>возврат денег</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
</array>
</plist>
