<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>trainers</string>
		<key>translate</key>
		<string>кроссовки</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>top</string>
		<key>translate</key>
		<string>топ</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>vest</string>
		<key>translate</key>
		<string>жилет</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sleeve</string>
		<key>translate</key>
		<string>рукав</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>leggings</string>
		<key>translate</key>
		<string>леггинсы</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>tracksuit</string>
		<key>translate</key>
		<string>тренировочный костюм</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pants</string>
		<key>translate</key>
		<string>брюки</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sweatshirt</string>
		<key>translate</key>
		<string>толстовка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shoes</string>
		<key>translate</key>
		<string>обувь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>heel</string>
		<key>translate</key>
		<string>каблук</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>breeches</string>
		<key>translate</key>
		<string>бриджи</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pajamas</string>
		<key>translate</key>
		<string>пижами</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>collar</string>
		<key>translate</key>
		<string>воротник</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dress</string>
		<key>translate</key>
		<string>платье</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shorts</string>
		<key>translate</key>
		<string>шорты</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>underpants</string>
		<key>translate</key>
		<string>трусы</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>costume</string>
		<key>translate</key>
		<string>костюм</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stocking</string>
		<key>translate</key>
		<string>чулок</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>corset</string>
		<key>translate</key>
		<string>корсет</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>jumpsuit</string>
		<key>translate</key>
		<string>комбинезон</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>neckline</string>
		<key>translate</key>
		<string>вырез</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sweater</string>
		<key>translate</key>
		<string>свитер</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>t-shirt</string>
		<key>translate</key>
		<string>футболка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bikini</string>
		<key>translate</key>
		<string>купальник</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>tuxedo</string>
		<key>translate</key>
		<string>смокинг</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>poncho</string>
		<key>translate</key>
		<string>пончо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>moccasin</string>
		<key>translate</key>
		<string>мокасин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>windbreaker</string>
		<key>translate</key>
		<string>ветровка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>tunic</string>
		<key>translate</key>
		<string>туника</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cuff</string>
		<key>translate</key>
		<string>манжета</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>boots</string>
		<key>translate</key>
		<string>ботинки</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>tights</string>
		<key>translate</key>
		<string>колготки</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>jumper</string>
		<key>translate</key>
		<string>джемпер</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cardigan</string>
		<key>translate</key>
		<string>кардиган</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>blouse</string>
		<key>translate</key>
		<string>блузка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>raincoat</string>
		<key>translate</key>
		<string>дождевик</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sock</string>
		<key>translate</key>
		<string>носок</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sandals</string>
		<key>translate</key>
		<string>сандали</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bra</string>
		<key>translate</key>
		<string>бюстгалтер</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>nightshirt</string>
		<key>translate</key>
		<string>ночная рубашка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>swimsuit</string>
		<key>translate</key>
		<string>плавательный костюм</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>outerwear</string>
		<key>translate</key>
		<string>верхняя одежда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>leotard</string>
		<key>translate</key>
		<string>трико</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pullover</string>
		<key>translate</key>
		<string>пуловер</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>turtleneck</string>
		<key>translate</key>
		<string>водолазка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>underwear</string>
		<key>translate</key>
		<string>нижнее белье</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>skirt</string>
		<key>translate</key>
		<string>юбка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>singlet</string>
		<key>translate</key>
		<string>майка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>anorak</string>
		<key>translate</key>
		<string>анорак</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>slippers</string>
		<key>translate</key>
		<string>тапочки</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>suit</string>
		<key>translate</key>
		<string>костюм</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shirt</string>
		<key>translate</key>
		<string>рубашка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>coat</string>
		<key>translate</key>
		<string>пальто</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hoodie</string>
		<key>translate</key>
		<string>толстовка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>jacket</string>
		<key>translate</key>
		<string>пиджак</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
</array>
</plist>
