<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>happy</string>
		<key>translate</key>
		<string>счaстливый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>suffering</string>
		<key>translate</key>
		<string>страдающий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>humiliation</string>
		<key>translate</key>
		<string>унижение</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>worried</string>
		<key>translate</key>
		<string>обеспокоенный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>unhappy</string>
		<key>translate</key>
		<string>несчастный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>terrible</string>
		<key>translate</key>
		<string>ужасный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sympathy</string>
		<key>translate</key>
		<string>сочувствие</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sorrow</string>
		<key>translate</key>
		<string>скорбь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shocked</string>
		<key>translate</key>
		<string>шокированный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>scared</string>
		<key>translate</key>
		<string>напуганный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sad</string>
		<key>translate</key>
		<string>грустный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pleased</string>
		<key>translate</key>
		<string>довольный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>optimism</string>
		<key>translate</key>
		<string>оптимизм</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>merry</string>
		<key>translate</key>
		<string>радостный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>joy</string>
		<key>translate</key>
		<string>радость</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>interested</string>
		<key>translate</key>
		<string>увлеченный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hurt</string>
		<key>translate</key>
		<string>раненый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hostile</string>
		<key>translate</key>
		<string>враждебный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hope</string>
		<key>translate</key>
		<string>надежда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hate</string>
		<key>translate</key>
		<string>ненависть</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>guilt</string>
		<key>translate</key>
		<string>вина</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>frustration</string>
		<key>translate</key>
		<string>растройство</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fear</string>
		<key>translate</key>
		<string>страх</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>excitement</string>
		<key>translate</key>
		<string>возбуждение</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>embarrased</string>
		<key>translate</key>
		<string>смущенный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>disgust</string>
		<key>translate</key>
		<string>отвращение</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>disappointed</string>
		<key>translate</key>
		<string>разочарованный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>desire</string>
		<key>translate</key>
		<string>желание</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bored</string>
		<key>translate</key>
		<string>скучающий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>awe</string>
		<key>translate</key>
		<string>трепет</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>astonishing</string>
		<key>translate</key>
		<string>поразительный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>annoying</string>
		<key>translate</key>
		<string>раздражающий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>angry</string>
		<key>translate</key>
		<string>злой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>affection</string>
		<key>translate</key>
		<string>привязанность</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
</array>
</plist>
