<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>aromatic</string>
		<key>translate</key>
		<string>ароматный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cool</string>
		<key>translate</key>
		<string>крутой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>deaf</string>
		<key>translate</key>
		<string>глухой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>even</string>
		<key>translate</key>
		<string>ровный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>far</string>
		<key>translate</key>
		<string>делекий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>smooth</string>
		<key>translate</key>
		<string>гладкий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>straight</string>
		<key>translate</key>
		<string>прямой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cheerful</string>
		<key>translate</key>
		<string>веселый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>boring</string>
		<key>translate</key>
		<string>надоедливый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>excellent</string>
		<key>translate</key>
		<string>отличный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fearful</string>
		<key>translate</key>
		<string>страшный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>giggle</string>
		<key>translate</key>
		<string>хихикающий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>guilty</string>
		<key>translate</key>
		<string>виноватый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>normal</string>
		<key>translate</key>
		<string>обычный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>surprised</string>
		<key>translate</key>
		<string>удивленный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>satisfied</string>
		<key>translate</key>
		<string>удовлетворенный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>strange</string>
		<key>translate</key>
		<string>странный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>baked</string>
		<key>translate</key>
		<string>печеный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>complete</string>
		<key>translate</key>
		<string>завершенный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>full</string>
		<key>translate</key>
		<string>полный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lean</string>
		<key>translate</key>
		<string>худощавый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mature</string>
		<key>translate</key>
		<string>зрелый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pregnant</string>
		<key>translate</key>
		<string>беременная</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>ill</string>
		<key>translate</key>
		<string>больной</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>thirsty</string>
		<key>translate</key>
		<string>жаждущий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>slim</string>
		<key>translate</key>
		<string>сторйный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>vacant</string>
		<key>translate</key>
		<string>свободный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>vicious</string>
		<key>translate</key>
		<string>злобный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>competitive</string>
		<key>translate</key>
		<string>конкурентоспособный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>considerate</string>
		<key>translate</key>
		<string>внимательный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cooperative</string>
		<key>translate</key>
		<string>отзывчивый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>creative</string>
		<key>translate</key>
		<string>творческий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>emotional</string>
		<key>translate</key>
		<string>эмоциональный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>enterprising</string>
		<key>translate</key>
		<string>предприимчивый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>faithful</string>
		<key>translate</key>
		<string>верный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>greedy</string>
		<key>translate</key>
		<string>жадный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>honest</string>
		<key>translate</key>
		<string>честный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hospitable</string>
		<key>translate</key>
		<string>гостеприимный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>impudent</string>
		<key>translate</key>
		<string>нахальный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>modest</string>
		<key>translate</key>
		<string>скромный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stable</string>
		<key>translate</key>
		<string>стабильный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>tolerant</string>
		<key>translate</key>
		<string>терпимый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>trusting</string>
		<key>translate</key>
		<string>доверчивый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>acceptable</string>
		<key>translate</key>
		<string>приемлемый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>appropriate</string>
		<key>translate</key>
		<string>подходящий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>average</string>
		<key>translate</key>
		<string>средний</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>correct</string>
		<key>translate</key>
		<string>правильный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>empty</string>
		<key>translate</key>
		<string>пустой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>essential</string>
		<key>translate</key>
		<string>существенный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>excessive</string>
		<key>translate</key>
		<string>избыточный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>illegal</string>
		<key>translate</key>
		<string>незаконный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>flexible</string>
		<key>translate</key>
		<string>гибкий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>legal</string>
		<key>translate</key>
		<string>законный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>numerous</string>
		<key>translate</key>
		<string>многочисленный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>reliable</string>
		<key>translate</key>
		<string>надежный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>satisfactory</string>
		<key>translate</key>
		<string>удовлетворительный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sighificant</string>
		<key>translate</key>
		<string>значительный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>similar</string>
		<key>translate</key>
		<string>похожий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>the same</string>
		<key>translate</key>
		<string>тот же самый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>unreliable</string>
		<key>translate</key>
		<string>ненадежный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>actual</string>
		<key>translate</key>
		<string>фактически</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>certain</string>
		<key>translate</key>
		<string>определенный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cheap</string>
		<key>translate</key>
		<string>дешевый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>conditional</string>
		<key>translate</key>
		<string>условный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>harmful</string>
		<key>translate</key>
		<string>вредный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>necessary</string>
		<key>translate</key>
		<string>необходимый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>negative</string>
		<key>translate</key>
		<string>негативный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>particular</string>
		<key>translate</key>
		<string>особенный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>practical</string>
		<key>translate</key>
		<string>практический</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>regular</string>
		<key>translate</key>
		<string>обычный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>separate</string>
		<key>translate</key>
		<string>отдельный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>useful</string>
		<key>translate</key>
		<string>полезный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>valid</string>
		<key>translate</key>
		<string>действующий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>accurate</string>
		<key>translate</key>
		<string>аккуратный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>capable</string>
		<key>translate</key>
		<string>способный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>clumsy</string>
		<key>translate</key>
		<string>неуклюжий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>great</string>
		<key>translate</key>
		<string>великий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lazy</string>
		<key>translate</key>
		<string>ленивый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sly</string>
		<key>translate</key>
		<string>хитрый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>wise</string>
		<key>translate</key>
		<string>мудрый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>adult</string>
		<key>translate</key>
		<string>взрослый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>ancient</string>
		<key>translate</key>
		<string>взрослый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>directly</string>
		<key>translate</key>
		<string>прямо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>future</string>
		<key>translate</key>
		<string>будущий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>initial</string>
		<key>translate</key>
		<string>начальный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sudden</string>
		<key>translate</key>
		<string>внезапный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>last</string>
		<key>translate</key>
		<string>последний</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>first</string>
		<key>translate</key>
		<string>первый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>urgent</string>
		<key>translate</key>
		<string>срочный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>uninterrupted</string>
		<key>translate</key>
		<string>непрерывный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>simultaneous</string>
		<key>translate</key>
		<string>одновременный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>rapid</string>
		<key>translate</key>
		<string>стремительный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mental</string>
		<key>translate</key>
		<string>умственный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>entire</string>
		<key>translate</key>
		<string>весь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>former</string>
		<key>translate</key>
		<string>бывший</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>decent</string>
		<key>translate</key>
		<string>порядочный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>glorious</string>
		<key>translate</key>
		<string>прославленный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>accurate</string>
		<key>translate</key>
		<string>точный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mundane</string>
		<key>translate</key>
		<string>обыденный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>immense</string>
		<key>translate</key>
		<string>громадный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
</array>
</plist>
