<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>navy</string>
		<key>translate</key>
		<string>темно-синий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>magenta </string>
		<key>translate</key>
		<string>фуксин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dull</string>
		<key>translate</key>
		<string>тусклый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>maroom</string>
		<key>translate</key>
		<string>бордовый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lilac</string>
		<key>translate</key>
		<string>сиреневый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gray</string>
		<key>translate</key>
		<string>серый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pink</string>
		<key>translate</key>
		<string>розовый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>purple</string>
		<key>translate</key>
		<string>фиолетовый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>peach</string>
		<key>translate</key>
		<string>персиковый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>ash</string>
		<key>translate</key>
		<string>пепельно-серый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sienna</string>
		<key>translate</key>
		<string>охра</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>olive</string>
		<key>translate</key>
		<string>оливковый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>aqua</string>
		<key>translate</key>
		<string>морской</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>honeydew</string>
		<key>translate</key>
		<string>медовый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>copper</string>
		<key>translate</key>
		<string>медный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>raspberry</string>
		<key>translate</key>
		<string>малиновый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>salmon</string>
		<key>translate</key>
		<string>лососевый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lemon</string>
		<key>translate</key>
		<string>лимонный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>azure</string>
		<key>translate</key>
		<string>лазурный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>coral</string>
		<key>translate</key>
		<string>кораловый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>firebrick</string>
		<key>translate</key>
		<string>кирпичный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>indigo</string>
		<key>translate</key>
		<string>индиго</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>emerald</string>
		<key>translate</key>
		<string>изумрудный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gold</string>
		<key>translate</key>
		<string>золотой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>paerl</string>
		<key>translate</key>
		<string>жемчужный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>snowy</string>
		<key>translate</key>
		<string>белоснежный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bronze</string>
		<key>translate</key>
		<string>бронзовый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pale</string>
		<key>translate</key>
		<string>бледный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>aquamarine </string>
		<key>translate</key>
		<string>аквамарин</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>grey</string>
		<key>translate</key>
		<string>серый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>brown</string>
		<key>translate</key>
		<string>коричневый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>blue</string>
		<key>translate</key>
		<string>синий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>orange</string>
		<key>translate</key>
		<string>оранжевый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>violet</string>
		<key>translate</key>
		<string>фиолетовый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>black</string>
		<key>translate</key>
		<string>черный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>white</string>
		<key>translate</key>
		<string>белый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>colors</string>
		<key>translate</key>
		<string>цвета</string>
		<key>example1</key>
		<string>This hair color suits you very well</string>
		<key>example2</key>
		<string>This color is such a frightening thing</string>
		<key>pOfSpeeach</key>
		<string>n</string>
	</dict>
	<dict>
		<key>word</key>
		<string>red</string>
		<key>translate</key>
		<string>красный</string>
		<key>example1</key>
		<string>Red roses bloom in spring</string>
		<key>example2</key>
		<string>The fish had a red fin</string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>green</string>
		<key>translate</key>
		<string>зеленый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>yellow</string>
		<key>translate</key>
		<string>желтый</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
</array>
</plist>
