<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>persimmon</string>
		<key>translate</key>
		<string>хурма</string>
		<key>tranInRU1</key>
		<string>груша</string>
		<key>tranInRU2</key>
		<string>дыня</string>
		<key>tranInRU3</key>
		<string>мандарин</string>
		<key>tranInENG1</key>
		<string>pineapple</string>
		<key>tranInENG2</key>
		<string>banana</string>
		<key>tranInENG3</key>
		<string>bergamot</string>
		<key>example1</key>
		<string>Persimmon trees have been grown for thousands of years for their delicious fruit and beautiful wood.</string>
		<key>example2</key>
		<string>The heart-shaped Hachiya persimmons are astringent</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bergamot</string>
		<key>translate</key>
		<string>бергамот</string>
		<key>tranInRU1</key>
		<string>киви</string>
		<key>tranInRU2</key>
		<string>инжир</string>
		<key>tranInRU3</key>
		<string>манго</string>
		<key>tranInENG1</key>
		<string>mandarin</string>
		<key>tranInENG2</key>
		<string>peach</string>
		<key>tranInENG3</key>
		<string>plum</string>
		<key>example1</key>
		<string>Bergamot oil is extracted from the rinds of citrus fruit</string>
		<key>example2</key>
		<string>The earliest roots of the bergamot tree can be traced to Southeast Asia</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>grape</string>
		<key>translate</key>
		<string>виноград</string>
		<key>tranInRU1</key>
		<string>ежевика</string>
		<key>tranInRU2</key>
		<string>малина</string>
		<key>tranInRU3</key>
		<string>грейпфрут</string>
		<key>tranInENG1</key>
		<string>pear</string>
		<key>tranInENG2</key>
		<string>melon</string>
		<key>tranInENG3</key>
		<string>lemon</string>
		<key>example1</key>
		<string>The grapes at the super-market are always fresh and tasty</string>
		<key>example2</key>
		<string>My grandmother makes homemade grape juice</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>peach</string>
		<key>translate</key>
		<string>персик</string>
		<key>tranInRU1</key>
		<string>яблоко</string>
		<key>tranInRU2</key>
		<string>грейпфрут</string>
		<key>tranInRU3</key>
		<string>апельсин</string>
		<key>tranInENG1</key>
		<string>mango</string>
		<key>tranInENG2</key>
		<string>turnip</string>
		<key>tranInENG3</key>
		<string>orange</string>
		<key>example1</key>
		<string>The peaches at the market are always fresh and mellow</string>
		<key>example2</key>
		<string>Peaches are so dilicious products</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>kiwi</string>
		<key>translate</key>
		<string>киви</string>
		<key>tranInRU1</key>
		<string>цитрус</string>
		<key>tranInRU2</key>
		<string>яблоко</string>
		<key>tranInRU3</key>
		<string>апельсин</string>
		<key>tranInENG1</key>
		<string>apple</string>
		<key>tranInENG2</key>
		<string>orange</string>
		<key>tranInENG3</key>
		<string>pomelo</string>
		<key>example1</key>
		<string>Main topics would be the standards for avocados and kiwi fruit</string>
		<key>example2</key>
		<string>I mean, you started with a kiwi</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pomelo</string>
		<key>translate</key>
		<string>помело</string>
		<key>tranInRU1</key>
		<string>ананас</string>
		<key>tranInRU2</key>
		<string>фрукт</string>
		<key>tranInRU3</key>
		<string>хурма</string>
		<key>tranInENG1</key>
		<string>orange</string>
		<key>tranInENG2</key>
		<string>banana</string>
		<key>tranInENG3</key>
		<string>lime</string>
		<key>example1</key>
		<string>Pomelos are citrus fruit</string>
		<key>example2</key>
		<string>Lots of children prefer apple to pomelo</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>peach</string>
		<key>translate</key>
		<string>персик</string>
		<key>tranInRU1</key>
		<string>яблоко</string>
		<key>tranInRU2</key>
		<string>грейпфрут</string>
		<key>tranInRU3</key>
		<string>апельсин</string>
		<key>tranInENG1</key>
		<string>mango</string>
		<key>tranInENG2</key>
		<string>turnip</string>
		<key>tranInENG3</key>
		<string>orange</string>
		<key>example1</key>
		<string>The peaches at the market are always fresh and mellow</string>
		<key>example2</key>
		<string>Peaches are so dilicious products</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>plum</string>
		<key>translate</key>
		<string>слива</string>
		<key>tranInRU1</key>
		<string>манго</string>
		<key>tranInRU2</key>
		<string>апельсин</string>
		<key>tranInRU3</key>
		<string>гранат</string>
		<key>tranInENG1</key>
		<string>orange</string>
		<key>tranInENG2</key>
		<string>fruit</string>
		<key>tranInENG3</key>
		<string>pear</string>
		<key>example1</key>
		<string>Prunes are dried plums</string>
		<key>example2</key>
		<string>Plum juice is good for your blood vessels</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>nectarine</string>
		<key>translate</key>
		<string>нектарин</string>
		<key>tranInRU1</key>
		<string>абрикос</string>
		<key>tranInRU2</key>
		<string>арбуз</string>
		<key>tranInRU3</key>
		<string>вишня</string>
		<key>tranInENG1</key>
		<string>kumquat</string>
		<key>tranInENG2</key>
		<string>blackberry</string>
		<key>tranInENG3</key>
		<string>banana</string>
		<key>example1</key>
		<string>Nectarine juice is healthy and delicious</string>
		<key>example2</key>
		<string>Nectarines are the fruit of various trees and shrubs</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fig</string>
		<key>translate</key>
		<string>инжир</string>
		<key>tranInRU1</key>
		<string>манго</string>
		<key>tranInRU2</key>
		<string>киви</string>
		<key>tranInRU3</key>
		<string>лайм</string>
		<key>tranInENG1</key>
		<string>lime</string>
		<key>tranInENG2</key>
		<string>citrus</string>
		<key>tranInENG3</key>
		<string>grapefruit</string>
		<key>example1</key>
		<string> I ate figs every day while I was in Spain</string>
		<key>example2</key>
		<string>I saw a fig tree in the garden</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pear</string>
		<key>translate</key>
		<string>груша</string>
		<key>tranInRU1</key>
		<string>помидор</string>
		<key>tranInRU2</key>
		<string>апельсин</string>
		<key>tranInRU3</key>
		<string>ананас</string>
		<key>tranInENG1</key>
		<string>apple</string>
		<key>tranInENG2</key>
		<string>orange</string>
		<key>tranInENG3</key>
		<string>beet</string>
		<key>example1</key>
		<string>Our apples and pears are ripe</string>
		<key>example2</key>
		<string>I drank a glass of pear juice and ate a bun.</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>orange</string>
		<key>translate</key>
		<string>апельсин</string>
		<key>tranInRU1</key>
		<string>арбуз</string>
		<key>tranInRU2</key>
		<string>банан</string>
		<key>tranInRU3</key>
		<string>репа</string>
		<key>tranInENG1</key>
		<string>turnip</string>
		<key>tranInENG2</key>
		<string>plim</string>
		<key>tranInENG3</key>
		<string>fig</string>
		<key>example1</key>
		<string>Orange, I like that, very good</string>
		<key>example2</key>
		<string>Orange is a big, round fruit</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>coconut</string>
		<key>translate</key>
		<string>кокос</string>
		<key>tranInRU1</key>
		<string>лимон</string>
		<key>tranInRU2</key>
		<string>цитрус</string>
		<key>tranInRU3</key>
		<string>грейпфрут</string>
		<key>tranInENG1</key>
		<string>lime</string>
		<key>tranInENG2</key>
		<string>pea</string>
		<key>tranInENG3</key>
		<string>olive</string>
		<key>example1</key>
		<string>Because I&apos;ve got some coconut</string>
		<key>example2</key>
		<string>that coconut fell on my head</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>apricot</string>
		<key>translate</key>
		<string>абрикос</string>
		<key>tranInRU1</key>
		<string>ананас</string>
		<key>tranInRU2</key>
		<string>сельдерей</string>
		<key>tranInRU3</key>
		<string>ежевика</string>
		<key>tranInENG1</key>
		<string>carrot</string>
		<key>tranInENG2</key>
		<string>fig</string>
		<key>tranInENG3</key>
		<string>cherry</string>
		<key>example1</key>
		<string>I merely ate a preserved apricot</string>
		<key>example2</key>
		<string>Look at this apricot</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mango</string>
		<key>translate</key>
		<string>манго</string>
		<key>tranInRU1</key>
		<string>абрикос</string>
		<key>tranInRU2</key>
		<string>киви</string>
		<key>tranInRU3</key>
		<string>вишня</string>
		<key>tranInENG1</key>
		<string>apple</string>
		<key>tranInENG2</key>
		<string>turnip</string>
		<key>tranInENG3</key>
		<string>strawberry</string>
		<key>example1</key>
		<string>This number is just a mini mango harvest</string>
		<key>example2</key>
		<string>Mommy will buy you mango ice cream later</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>melon</string>
		<key>translate</key>
		<string>дыня</string>
		<key>tranInRU1</key>
		<string>слива</string>
		<key>tranInRU2</key>
		<string>перец</string>
		<key>tranInRU3</key>
		<string>тыква</string>
		<key>tranInENG1</key>
		<string>bean</string>
		<key>tranInENG2</key>
		<string>grape</string>
		<key>tranInENG3</key>
		<string>pumkin</string>
		<key>example1</key>
		<string>I enjoy eating fresh melons</string>
		<key>example2</key>
		<string>The melon was so delicious </string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>apple</string>
		<key>translate</key>
		<string>яблоко</string>
		<key>tranInRU1</key>
		<string>банан</string>
		<key>tranInRU2</key>
		<string>апельсин</string>
		<key>tranInRU3</key>
		<string>арбуз</string>
		<key>tranInENG1</key>
		<string>melon</string>
		<key>tranInENG2</key>
		<string>dog</string>
		<key>tranInENG3</key>
		<string>pineapple</string>
		<key>example1</key>
		<string>The children are picking apples in the garden</string>
		<key>example2</key>
		<string>I like apple juice more than any other drink.</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pineapple</string>
		<key>translate</key>
		<string>ананас</string>
		<key>tranInRU1</key>
		<string>абрикос</string>
		<key>tranInRU2</key>
		<string>морковь</string>
		<key>tranInRU3</key>
		<string>капуста</string>
		<key>tranInENG1</key>
		<string>orange</string>
		<key>tranInENG2</key>
		<string>fruit</string>
		<key>tranInENG3</key>
		<string>agreement</string>
		<key>example1</key>
		<string>Pineapple is a very tasty dessert</string>
		<key>example2</key>
		<string>The pineapple was a wonderful complement to the dinner</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>banana</string>
		<key>translate</key>
		<string>банан</string>
		<key>tranInRU1</key>
		<string>картофель</string>
		<key>tranInRU2</key>
		<string>кокос</string>
		<key>tranInRU3</key>
		<string>яблоко</string>
		<key>tranInENG1</key>
		<string>coconut</string>
		<key>tranInENG2</key>
		<string>apple</string>
		<key>tranInENG3</key>
		<string>pineapple</string>
		<key>example1</key>
		<string>Banana is a fruit</string>
		<key>example2</key>
		<string>People are eaten bananas</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fruit</string>
		<key>translate</key>
		<string>фрукты</string>
		<key>tranInRU1</key>
		<string>овощи</string>
		<key>tranInRU2</key>
		<string>сделка</string>
		<key>tranInRU3</key>
		<string>кокос</string>
		<key>tranInENG1</key>
		<string>offer</string>
		<key>tranInENG2</key>
		<string>vegetables</string>
		<key>tranInENG3</key>
		<string>bargain</string>
		<key>example1</key>
		<string>This fruit contains vitamin C</string>
		<key>example2</key>
		<string>The farmer planted fruit trees in his orchard</string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
</array>
</plist>
