<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>in</string>
		<key>translate</key>
		<string>в</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>on</string>
		<key>translate</key>
		<string>на</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>under</string>
		<key>translate</key>
		<string>под</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>in front</string>
		<key>translate</key>
		<string>спереди</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>above</string>
		<key>translate</key>
		<string>выше</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>below</string>
		<key>translate</key>
		<string>ниже</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>between</string>
		<key>translate</key>
		<string>между</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>about</string>
		<key>translate</key>
		<string>о</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>inside</string>
		<key>translate</key>
		<string>внутри</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>except</string>
		<key>translate</key>
		<string>исключая</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>from</string>
		<key>translate</key>
		<string>из</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>until</string>
		<key>translate</key>
		<string>до</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>opposite</string>
		<key>translate</key>
		<string>напротив</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>into</string>
		<key>translate</key>
		<string>в</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>around</string>
		<key>translate</key>
		<string>вокруг</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>as</string>
		<key>translate</key>
		<string>как</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>beside</string>
		<key>translate</key>
		<string>рядом</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>despite</string>
		<key>translate</key>
		<string>несмотря на</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mid</string>
		<key>translate</key>
		<string>между</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>through</string>
		<key>translate</key>
		<string>через</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
	<dict>
		<key>word</key>
		<string>versus</string>
		<key>translate</key>
		<string>против</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>prep</string>
	</dict>
</array>
</plist>
