<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>above</string>
		<key>translate</key>
		<string>сверху</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>accidentally</string>
		<key>translate</key>
		<string>случайно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>according</string>
		<key>translate</key>
		<string>соответственно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>actually</string>
		<key>translate</key>
		<string>на самом деле</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>again</string>
		<key>translate</key>
		<string>опять</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>almost</string>
		<key>translate</key>
		<string>почти</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>already</string>
		<key>translate</key>
		<string>уже</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>also</string>
		<key>translate</key>
		<string>также</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>always</string>
		<key>translate</key>
		<string>всегда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>arrogantly</string>
		<key>translate</key>
		<string>высокомерно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>badly</string>
		<key>translate</key>
		<string>плохо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>beautifully</string>
		<key>translate</key>
		<string>красиво</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>before</string>
		<key>translate</key>
		<string>до</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>below</string>
		<key>translate</key>
		<string>ниже</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>besides</string>
		<key>translate</key>
		<string>кроме того</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>blindly</string>
		<key>translate</key>
		<string>вслепую</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>blissfully</string>
		<key>translate</key>
		<string>блаженно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>boastfully</string>
		<key>translate</key>
		<string>хвастливо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>briefly</string>
		<key>translate</key>
		<string>кратко</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>brightly</string>
		<key>translate</key>
		<string>ярко</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>broadly</string>
		<key>translate</key>
		<string>широко</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>carefully</string>
		<key>translate</key>
		<string>тщательно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cautiously</string>
		<key>translate</key>
		<string>осторожно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>certainly</string>
		<key>translate</key>
		<string>конечно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>clearly</string>
		<key>translate</key>
		<string>ясно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cleverly</string>
		<key>translate</key>
		<string>умно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>colorgully</string>
		<key>translate</key>
		<string>красочно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>commonly</string>
		<key>translate</key>
		<string>обычно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>correctly</string>
		<key>translate</key>
		<string>правильно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>courageously</string>
		<key>translate</key>
		<string>смело</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>daily</string>
		<key>translate</key>
		<string>ежедневно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>daintily</string>
		<key>translate</key>
		<string>изящно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>deceivingly</string>
		<key>translate</key>
		<string>обманчиво</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>deeply</string>
		<key>translate</key>
		<string>глубоко</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>defiantly</string>
		<key>translate</key>
		<string>вызывающе</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>delightfully</string>
		<key>translate</key>
		<string>восхитительно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>doubtfully</string>
		<key>translate</key>
		<string>сомнительно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dreamily</string>
		<key>translate</key>
		<string>мечтательно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>easily</string>
		<key>translate</key>
		<string>легко</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>energetically</string>
		<key>translate</key>
		<string>энергично</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>enthusiastically</string>
		<key>translate</key>
		<string>с интузиастом</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>equally</string>
		<key>translate</key>
		<string>одинаково</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>especially</string>
		<key>translate</key>
		<string>особенно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>even</string>
		<key>translate</key>
		<string>даже</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>evenly</string>
		<key>translate</key>
		<string>равномерно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>eventually</string>
		<key>translate</key>
		<string>в конце концов</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>ever</string>
		<key>translate</key>
		<string>когда-либо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>exactly</string>
		<key>translate</key>
		<string>точно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>excitedly</string>
		<key>translate</key>
		<string>заряженно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fondly</string>
		<key>translate</key>
		<string>нежно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>foolishly</string>
		<key>translate</key>
		<string>глупо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fortunately</string>
		<key>translate</key>
		<string>к счастью</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>forward</string>
		<key>translate</key>
		<string>вперед</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>friendly</string>
		<key>translate</key>
		<string>дружелюбно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>greedily</string>
		<key>translate</key>
		<string>жадно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>happily</string>
		<key>translate</key>
		<string>счастливо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hardly</string>
		<key>translate</key>
		<string>с трудом</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>honestly</string>
		<key>translate</key>
		<string>честно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>indeed</string>
		<key>translate</key>
		<string>действительно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>innocently</string>
		<key>translate</key>
		<string>невинно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>inside</string>
		<key>translate</key>
		<string>внутри</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>instead</string>
		<key>translate</key>
		<string>вместо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>justly</string>
		<key>translate</key>
		<string>справедливо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>kindly</string>
		<key>translate</key>
		<string>любезно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lazily</string>
		<key>translate</key>
		<string>лениво</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lately</string>
		<key>translate</key>
		<string>поздно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>less</string>
		<key>translate</key>
		<string>меньше</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>loosely</string>
		<key>translate</key>
		<string>свободно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>loudly</string>
		<key>translate</key>
		<string>громко</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>madly</string>
		<key>translate</key>
		<string>безумно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>nearly</string>
		<key>translate</key>
		<string>около</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>never</string>
		<key>translate</key>
		<string>никогда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>occasionally</string>
		<key>translate</key>
		<string>изредка</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>often</string>
		<key>translate</key>
		<string>часто</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>once</string>
		<key>translate</key>
		<string>раз</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>only</string>
		<key>translate</key>
		<string>только</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>perfectly</string>
		<key>translate</key>
		<string>отлично</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>perhaps</string>
		<key>translate</key>
		<string>возможно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>politely</string>
		<key>translate</key>
		<string>вежливо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>probably</string>
		<key>translate</key>
		<string>вероятно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>quickly</string>
		<key>translate</key>
		<string>быстро</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>rarely</string>
		<key>translate</key>
		<string>редко</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>regularly</string>
		<key>translate</key>
		<string>регулярно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>seriously</string>
		<key>translate</key>
		<string>серьезно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>slowly</string>
		<key>translate</key>
		<string>медленно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>somehow</string>
		<key>translate</key>
		<string>как-то</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sometimed</string>
		<key>translate</key>
		<string>иногда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>somewhere</string>
		<key>translate</key>
		<string>иногда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>soon</string>
		<key>translate</key>
		<string>скоро</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>throught</string>
		<key>translate</key>
		<string>насквозь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>thus</string>
		<key>translate</key>
		<string>таким образом</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>today</string>
		<key>translate</key>
		<string>сегодня</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>tomorrow</string>
		<key>translate</key>
		<string>завтра</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>very</string>
		<key>translate</key>
		<string>очень</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>warmly</string>
		<key>translate</key>
		<string>тепло</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>weakly</string>
		<key>translate</key>
		<string>слабо</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>yesterday</string>
		<key>translate</key>
		<string>вчера</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>round</string>
		<key>translate</key>
		<string>вокруг</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>yet</string>
		<key>translate</key>
		<string>еще</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
	<dict>
		<key>word</key>
		<string>rather</string>
		<key>translate</key>
		<string>скорее</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adv</string>
	</dict>
</array>
</plist>
