<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>after</string>
		<key>translate</key>
		<string>после</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>and</string>
		<key>translate</key>
		<string>и</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>although</string>
		<key>translate</key>
		<string>несмотря на то что</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>as</string>
		<key>translate</key>
		<string>как</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>as if</string>
		<key>translate</key>
		<string>словно</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>as long as</string>
		<key>translate</key>
		<string>до тех пор пока</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>as soon as</string>
		<key>translate</key>
		<string>как только</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>as though</string>
		<key>translate</key>
		<string>как будто</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>because</string>
		<key>translate</key>
		<string>потому что</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>before</string>
		<key>translate</key>
		<string>перед</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>but</string>
		<key>translate</key>
		<string>но</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>by the time</string>
		<key>translate</key>
		<string>к тому времени</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>either</string>
		<key>translate</key>
		<string>или</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>even if</string>
		<key>translate</key>
		<string>даже если</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>even though</string>
		<key>translate</key>
		<string>хотя</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>for</string>
		<key>translate</key>
		<string>для</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>if</string>
		<key>translate</key>
		<string>если</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>neither</string>
		<key>translate</key>
		<string>ни</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>nevertheless</string>
		<key>translate</key>
		<string>тем не менее</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>or</string>
		<key>translate</key>
		<string>или</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>since</string>
		<key>translate</key>
		<string>с тех пор как</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>so that</string>
		<key>translate</key>
		<string>для того чтобы</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>still</string>
		<key>translate</key>
		<string>все-таки</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>than</string>
		<key>translate</key>
		<string>чем</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>that</string>
		<key>translate</key>
		<string>что</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>though</string>
		<key>translate</key>
		<string>несмотря на</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>till</string>
		<key>translate</key>
		<string>пока</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>unless</string>
		<key>translate</key>
		<string>пока не</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>until</string>
		<key>translate</key>
		<string>до тех пор пока не</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>however</string>
		<key>translate</key>
		<string>однако</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>however</string>
		<key>translate</key>
		<string>однако</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>when</string>
		<key>translate</key>
		<string>когда</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>whenever</string>
		<key>translate</key>
		<string>когда бы ни</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>while</string>
		<key>translate</key>
		<string>в то время как</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
	<dict>
		<key>word</key>
		<string>yet</string>
		<key>translate</key>
		<string>еще</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>union</string>
	</dict>
</array>
</plist>
