<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>box office</string>
		<key>translate</key>
		<string>касса</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>poster</string>
		<key>translate</key>
		<string>афиша</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>director</string>
		<key>translate</key>
		<string>режисер</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>crew</string>
		<key>translate</key>
		<string>съемочная группа</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shot</string>
		<key>translate</key>
		<string>кадр</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>close-up</string>
		<key>translate</key>
		<string>крупный план</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>character</string>
		<key>translate</key>
		<string>персонаж</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>episode</string>
		<key>translate</key>
		<string>серия</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>series</string>
		<key>translate</key>
		<string>сериал</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>action</string>
		<key>translate</key>
		<string>боевик</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cartoon</string>
		<key>translate</key>
		<string>мультфильм</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>comedy</string>
		<key>translate</key>
		<string>комедия</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>crime film</string>
		<key>translate</key>
		<string>детектив</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>drama</string>
		<key>translate</key>
		<string>драма</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>musical</string>
		<key>translate</key>
		<string>мюзикл</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>horror</string>
		<key>translate</key>
		<string>фильм ужасов</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>adventure</string>
		<key>translate</key>
		<string>приключенческий</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>a</string>
	</dict>
	<dict>
		<key>word</key>
		<string>documentary</string>
		<key>translate</key>
		<string>документальный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>a</string>
	</dict>
	<dict>
		<key>word</key>
		<string>educational</string>
		<key>translate</key>
		<string>образовательный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>a</string>
	</dict>
	<dict>
		<key>word</key>
		<string>feature</string>
		<key>translate</key>
		<string>художественный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>a</string>
	</dict>
	<dict>
		<key>word</key>
		<string>historical</string>
		<key>translate</key>
		<string>исторический</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>a</string>
	</dict>
	<dict>
		<key>word</key>
		<string>science</string>
		<key>translate</key>
		<string>научный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>a</string>
	</dict>
</array>
</plist>
