<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>grind</string>
		<key>translate</key>
		<string>перемалывать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>layer</string>
		<key>translate</key>
		<string>наслаивать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>marinate</string>
		<key>translate</key>
		<string>мариновать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mash</string>
		<key>translate</key>
		<string>давить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>melt</string>
		<key>translate</key>
		<string>плавить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mill</string>
		<key>translate</key>
		<string>молоть</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mix</string>
		<key>translate</key>
		<string>смешивать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pan</string>
		<key>translate</key>
		<string>готовить в кастрюле</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>peel</string>
		<key>translate</key>
		<string>очищать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pickle</string>
		<key>translate</key>
		<string>мариновать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pinch</string>
		<key>translate</key>
		<string>защипывать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>poach</string>
		<key>translate</key>
		<string>варить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pour</string>
		<key>translate</key>
		<string>наливать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>raw</string>
		<key>translate</key>
		<string>сырой</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>roast</string>
		<key>translate</key>
		<string>жарить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>salt</string>
		<key>translate</key>
		<string>солить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sauce</string>
		<key>translate</key>
		<string>заправлять соусом</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>serve</string>
		<key>translate</key>
		<string>подавать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>simmer</string>
		<key>translate</key>
		<string>приваривать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>slice</string>
		<key>translate</key>
		<string>нарезать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>smoke</string>
		<key>translate</key>
		<string>коптить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>spread</string>
		<key>translate</key>
		<string>намазывать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sprinkle</string>
		<key>translate</key>
		<string>брызгать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>steam</string>
		<key>translate</key>
		<string>готовить на пару</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stew</string>
		<key>translate</key>
		<string>тушить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stir</string>
		<key>translate</key>
		<string>помешивать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stuffed</string>
		<key>translate</key>
		<string>фаршированный</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>adj</string>
	</dict>
	<dict>
		<key>word</key>
		<string>syrup</string>
		<key>translate</key>
		<string>поливать сиропом</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>taste</string>
		<key>translate</key>
		<string>пробовать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>warm up</string>
		<key>translate</key>
		<string>подогреть</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>grill</string>
		<key>translate</key>
		<string>жарить на гриле</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cut</string>
		<key>translate</key>
		<string>резать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dice</string>
		<key>translate</key>
		<string>нарезать кубиками</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dip</string>
		<key>translate</key>
		<string>макать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>drain</string>
		<key>translate</key>
		<string>сцеживать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dress</string>
		<key>translate</key>
		<string>приправлять</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dry-cure</string>
		<key>translate</key>
		<string>засаливать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>freeze</string>
		<key>translate</key>
		<string>замораживать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fry</string>
		<key>translate</key>
		<string>жарить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>glaze</string>
		<key>translate</key>
		<string>покрыть глазурью</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>grate</string>
		<key>translate</key>
		<string>тереть</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>cool down</string>
		<key>translate</key>
		<string>остудить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>chop</string>
		<key>translate</key>
		<string>рубить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>caramelize</string>
		<key>translate</key>
		<string>карамелизировать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>broil</string>
		<key>translate</key>
		<string>жарить на огне</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bread</string>
		<key>translate</key>
		<string>панировать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>braise</string>
		<key>translate</key>
		<string>тушить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>boil</string>
		<key>translate</key>
		<string>варить</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>blend</string>
		<key>translate</key>
		<string>смешивать</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bake</string>
		<key>translate</key>
		<string>печь</string>
		<key>example1</key>
		<string></string>
		<key>example2</key>
		<string></string>
		<key>pOfSpeeach</key>
		<string>v</string>
	</dict>
</array>
</plist>
